.nav {
  background:#87eb3f;
  border-radius: 0px 0px 10px 10px;
  height: 100%;
}

h1 {
  color:green;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button {
  border-radius: 10px;
  width:25px;
}

input {
  border-radius: 20px;
  margin-left:20px;
  margin-top:5px;
}

.msgsbox {
  background:f5f5dc;
}

